<div>
<div class="title">
    <h1>About Me</h1>
</div>
<div class="row  justify-content-md-center">
    <div class="col-md-3">
        <div class="row justify-content-md-center mb-2 body-text">
            <div class="col">
                <p>I was born in Dublin, Ireland and I grew up in Austin, Texas. My family
                    moved here on a one-year contract when I was a kid, and we loved Texas so
                    much we never moved back. As a first generation American, I feel like I 
                    have a uniqe perspective on American culture.</p>
            </div>
        </div>
        <div class="row justify-content-md-center mb-2">
            <div class="col">
                <p>I graduated Lake Travis High School in 2017. My high school offered two 
                    computer science classes and I took the first my junior year. This was when 
                    I knew I wanted to persue a career in CS. I can still remember writing my 
                    first "hello world" program today. 
                </p>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col">
                <p>
                    Outside of work, my favorite things to do are watcing sports, surfing on the 
                    lake, and skiing in the mountains. I'm a die-hard Manchester United and Dallas 
                    Cowboys fan, even though both teams love to dissapoint me. 
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <img src="../../../assets/images/collage3.jpg" alt="collage" height="650px" width="450px">
    </div>
</div>
    

</div>