<div class="title">
    <h1>Service</h1>
</div>
<div class="row justify-content-md-center">
    <div class="top-row">
        <p>As eager as I am to persue my career in computer science, I feel it is equally 
            as important to give back to the community that I gain so much from. Here are 
            a few of the charities and organizations that I participate in.
        </p>
    </div>
</div>
<div class="row justify-content-md-center mb-4">
    <div class="col-sm-4">
        <h4>Big Event</h4>
        <p>
        Each year in the spring, the members of my fraternity join in being
		apart of the Big Event. Big Event is a community service event hosted 
		by Texas A&M every spring, where different groups and organizations travel
		to different homes across College Station and provide service in any way 
		we can. You can check out big event too at <a href="https://bigevent.tamu.edu/">
		https://bigevent.tamu.edu/</a>
        </p>
    </div>
    <div class="col-sm-4">
        <h4>LTlov</h4>
		<p>LTlov is a local charity organization that benefits underprivileged kids 
		in the Lake Travis area. Every summer I help sort school supplies with LTlov's
		school supply drive to help less fortunate kids make sure they have all the 
		supplies the need to go to school in the fall. Check them out at 
		<a href="https://ltlov.org">https://ltlov.org</a></p>
    </div>
</div>
<div class="row justify-content-md-center">
    <div class="col-sm-4">
        <h4>Garrett's House</h4>
		<p>Every year, the fraternity that I'm apart of, Kappa Alpha Order, hosts a 
		fundraising event in honor of our fallen brother, Garrett Luce. All proceeds 
		go to Garrett's House, which is an orphanage in Zambia. You can learn more 
		about this cause <a href="http://www.garrettslegacyhouse.com">here</a><p>
    </div>
    <div class="col-sm-4">
        <h4>Muscular Distrophy Association</h4>
		<p>Our fraternity also helps raise money every year with a fundraising event 
		during parents weekend at Texas A&M with all proceeds going to the Muscular 
		Dystrophy Association (MDA). MDA helps fund the efforts to find a cure for 
		Muscular Dystrophy, get care to more people, and send affected kids to summer 
		camps. In the last four decades ,our organization has helped raise over $2.7 
		million for the MDA. To donate to or find out more about the MDA, go to 
		<a href="https://www.mda.org">https://www.mda.org</a>
    </div>
</div>

