<div class="main">
    <div class="title">
            <h1>Portfolio</h1>
    </div>
    <div class="row mb-3">
        <div class="col">
            <h3>Resume</h3>
            <p><a href="../../../assets/Resume8-22-20.pdf">Click</a> to open in a new tab - <a href="../../../assets/Resume8-22-20.pdf" download>Download</a></p>
            <iframe src="../../../assets/Resume8-22-20.pdf" width=900px height=700px></iframe>
        </div>
        <div class="col-auto">
            <div class="row mb-5">
                <br>
            </div>
            <h3>Relevant Coursework</h3>
            <div class="row mb-3">
                <br>
            </div>
            <h5>Computer Science</h5>
            
            <div class="row mb-3">
                <div class="col-auto">
                    <ul>
                        <li><p>CSCE 121 - INTRO PRGM DESIGN CONCEPT</p></li>
                        <li><p>CSCE 221 - DATA STRUC & ALGORITHM</p></li>
                        <li><p>CSCE 314 - PROGRAMMING LANGUAGES</p></li>
                        <li><p>CSCE 315 - PROGRAMMING STUDIO</p></li>
                        <li><p>CSCE 421 - MACHINE LEARNING</p></li>
                        <li><p>CSCE 436 - COMP HUMAN INTERACTION</p></li>
                        <li><p>CSCE 310 - DATABASE SYSTEMS</p></li>
                        <li><p>CSCE 482 - SR CAPSTONE DESIGN</p></li>
                    </ul>
                </div>
                <div class="col">
                    <ul>
                        <li><p>CSCE 222 - DISCRETE STRUC COMPUTING</p></li>
                        <li><p>CSCE 312 - COMPUTER ORGANIZATION</p></li>
                        <li><p>CSCE 313 - INTRO TO COMPUTER SYSTEM</p></li>
                        <li><p>CSCE 411 - DESIGN ANALY ALGORITHMS</p></li>
                        <li><p>CSCE 431 - SOFTWARE ENGINEERING</p></li>
                        <li><p>CSCE 470 - INFO STORAGE RETRIEVAL</p></li>
                        <li><p>CSCE 465 - COMP & NET SECURITY</p></li>
                    </ul>
                </div>
            </div>
            <h5>Business</h5>
            <div class="row">
                <div class="col-auto">
                    <ul>
                        <li><p>ACCT 209 - SURVEY OF ACCT PRIN</p></li>
                        <li><p>ISTM 209 - BUSINESS INFO SYSTEM CONCEPT</p></li>
                        <li><p>MGMT 209 - BUSINESS GOVT & SOCIETY</p></li>
                        
                    </ul>
                </div>
                <div class="col">
                    <ul>
                        <li><p>FINC 409 - SURVEY OF FINANCE PRIN</p></li>
                        <li><p>MKTG 409 - PRINCIOLES OF MARKETING</p></li>
                        <li><p>MGMT 309 - SURVEY OF MANAGEMENT</p></li>
                    </ul>
                </div>
            </div>
            
        </div>
    </div>
    
</div>
